* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: lightgreen;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 600px;
    display: flex;
    justify-content: center;
    
}

.left {
    background-color: greenyellow; 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: lightskyblue;
    height: 30px;
    color: blue;
}
